/* Write your CSS here */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.bg-container {
    background-color: #ffc2a0;
    height: 200vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    padding: 40px 20px;
}

.todo-container {
    background-color: #ffffff;
    padding: 20px 20px;
    width: 800px;
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.todos-heading {
    padding-top: 32px;
    font-family: "Roboto";
    color: #ff8542;
    font-size: 40px;
    padding-bottom: 32px;
}