/* Write your code here. */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.bg-container {
    background-image: linear-gradient(to right, #1d976c, #93f9b9);
}

.calculator-image-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.calculator-container {
    margin-left: 60px;
    width: 300px;
}


.heading {
    font-family: "Roboto";
    color: #ffffff;
    font-size: 40px;
    padding-bottom: 24px;
}

.input-index {
    font-size: 4x;
    font-family: "Roboto";
    color: #ffffff;
}

.search-input {
    background: none;
    border: 1px solid #ffffff;
    color: #ffffff;
    border-radius: 6px;
    width: 380px;
    font-family: "Roboto";
    padding: 8px;
    outline: none;
    margin-bottom: 32px;
    font-size: 18px;
    font-weight: normal;
    margin-top: 8px;
}

.letters-count {
    background-color: #ffffff;
    width: 260px;
    height: 70px;
    color: #219a6f;
    border-radius: 8px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size:24px;
    padding: 0px 8px; 
}